[submodule "flite-flask"]
	path = flite-flask
	url = https://github.com/emoulsdale/flite-flask.git
[submodule "redis-flite"]
	path = flask-relay
	url = https://github.com/emoulsdale/redis-flite.git
[submodule "game"]
	path = game
	url = https://github.com/emoulsdale/docker-godot.git
